.featuredProducts {
    padding: 2rem 0;
  }
  
  .featuredProducts h2 {
    color:tomato;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration-line: underline;
  }
  
  .featuredProducts ul {
    display: flex;
    justify-content: space-between;
  }
  
  .featuredProducts ul li {
    width: 20%;
    list-style: none;
  }
    