/* table {
  width: 1200px;
  text-align: center;
} */

/* tr:hover {
  background: #e5e5e5;
} */

.cart h1 {
  font-size: 3rem;
  color: black;
  
}

h3 {
  text-align: center;
}

.cart a {
  text-align: center;
  font-weight: bold;
  background-color: black;
  border-radius: 2rem;
  color: #FFDB5C;
 
}

img {
  width: 70px;
}

td {
  font-size: 25px;
}

