
.cart h1 {
  font-size: 3rem;
  color: black;
  font-family: 'Permanent Marker', cursive;  
  margin-bottom: -1rem;
}

.cart h3 {
  text-align: center;
  font-weight: lighter;
}

.cart a {
  text-align: center;
  color: black;
}

img {
  width: 60px;
}

td {
  font-size: 25px;
}

.cart button  {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border-radius: 50%;
  height: 30px;
  width: 2rem;
  bottom: 60px;
  right: 60px;
  margin-top: 5px;
}


