.product {
      display: grid;
      grid-template-columns: 40% 1fr;
      grid-gap: 3rem;
      background-color:black;
      margin-top: 3rem;
      margin-bottom: 3rem;
      border-radius: 3rem;
      color: white;
    }
    
.product .foto img {
      width: 100%;
      border-radius: 3rem 0 0 3rem;
      
    }
    
    .product .info .title {
      font-size: 3rem;
      font-family: 'Permanent Marker', cursive;
      /* color: var(--color-secundario); */
      margin-bottom: 2rem;
      text-align: center;
    }
    
    .product .info .description {
      font-size: 1rem;
      color: var(--text);
      margin-bottom: 2rem;
    }
    
    .product .info .price {
      font-size: 2.5rem;
      font-weight: 600;
      color: white;
      margin-bottom: 2rem;
    }
   
    
    
    /* .product .qty button {
      width: 10%;
      border: none;
      padding: 0.5rem;
      outline: none;
      cursor: pointer;
      background: var(--color-principal);
      border-radius: 1rem;
      color: var(--blanco);
      font-size: 1.5rem;
    }
     */

     .product .btn {
           width: 10%;
           font-size: 2rem;
           background-color: #FFDB5C;
           color: black;
     }



    .product .btn .qty:disabled {
      background: #ddd;
      cursor: no-drop;
    }
    
    
    /* .product .hola {
      width: 50%;
      /* border: none; */
      /* padding: 1rem;
      outline: none;
      
      
      font-size: 1.5rem;
      margin-top: 1rem;
      
    }  */
    
    .product .btn:hover {
      background: black;
      color: #FFDB5C;
    }

    .product h2 {
          font-size: 2rem;
      
    }

    .product button {
          background-color: #FFDB5C;
          width: 40%;
    }

    .product button:hover {
      background-color: black;
      color: #FFDB5C;
}
