.contador {
  /* display: flex; */
  /* justify-content: space-between; */
  margin-bottom: 1rem;
  text-align: center;
  
}

.contador a {
  font-weight: bold;
  color: gray;
  font-size: 1.5rem;
  text-decoration: none;
  
}

.contador a:hover {
  text-decoration: none;
  color:green;
  font-weight: bold;
}

input {
  width: 30px;
  text-align: center;
  border: 0;
}

/* //////////////////////////////// */


.qty {
  width: 150px;
  margin-bottom: 3rem;
  /* display: block; */
  margin-left: 18rem;

}

.qty button {
  width: 20%;
  border: none;
  padding: 0.5rem;
  outline: none;
  cursor: pointer;
  background: var(--color-principal);
  border-radius: 1rem;
  color: var(--blanco);
  font-size: 1.5rem;
}

.qty button:disabled {
  background: #ddd;
  cursor: no-drop;
}

.qty input {
  width: 60%;
  text-align: center;
  border: none;
  padding: 0.5rem;
  text-align: center;
  font-size: 1.8rem;
  outline: none;
}

.btn {
  width: 150px;
  display: block;
  border: none;
  padding: 1rem;
  outline: none;
  cursor: pointer;
  background: var(--color-principal);
  border-radius: 2rem;

  font-size: 1.5rem;
  margin-top: 1rem;
  transition: background 0.5s;
}

.btn:hover {
  background: #0758af;
}

