.Category {
  padding: 2rem 0; 
}

.Category h2 {
  color:black;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3rem;
  text-decoration-line: none;
}

.Category ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
}

.Category ul li {
  width: 20%;
  list-style: none;
}
