.productCard {
  /* background:cadetblue; */
  /* border-radius: 0rem; */
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: box-shadow 0.5s;
  margin: 1rem;
  /* border-style: solid; */
  border-radius: 3rem;
}

.productCard:hover {
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
  background-color:black;

  color: #FFDB5C;
  size: 5rem;
  
 
  
}

/* div h3 p:hover  {
  font-size: 5rem;
  font-weight: bold;
  border-style: unset;
  color: white;
} */

.productCard img {
  width: 100%;
  border-radius: 3rem;
}

.productCard div {
  padding: 1rem;
  text-align: center;
}

.productCard div h3 {
  color: var(--text);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.productCard div p {
  color: var(--text);
  font-size: 1.1rem;
  font-weight: 100;
}

span {
  font-weight: bold;
  
}

.productCard a {
  color:#FFDB5C;
  background-color:black;
  
}

.productCard a:hover {
  color:black;
  background-color:#FFDB5C;
  /* font-size:large; */
  
}