.productCard {
  background: white;
  border-radius: 2rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: box-shadow 0.5s;
}

.productCard:hover {
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.5);
  color:tomato;
  
}

div h3 p:hover  {
  font-size: 3rem;
  font-weight: bold;
}

.productCard img {
  width: 100%;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.productCard div {
  padding: 1rem;
  text-align: center;
}

.productCard div h3 {
  color: var(--text);
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.productCard div p {
  color: var(--text);
  font-size: 1.1rem;
  font-weight: 500;
}
