
body {
  background:white;
}  

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}

.cartDetail{
  width: 600px;
  display: flex;
  flex-direction: row;
  background: darkgray;
  justify-content: space-around;
}

.checkout h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 3rem;
}

form {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: black;
  color: white;
  border-radius: 2rem;
  text-align: center;  
}

.checkout p {
  text-align: center;
  font-weight: bold;
}
